{% extends "../default.html" %} {% block content %}

<!--大图模块-->
<div class="Ued-showimg show-about">
    <div class="container">
        <div class="show-txtstyle-center fwhite">
            <h2 class="f48 f-family">优秀的互联网产品设计与开发公司</h2>
            <h3 class="f32">UED INTERACTION</h3>
        </div>
    </div>
</div>
<!--//大图模块-->
<!--简介-->
<div class="Ued-about bg-white">
    <div class="container">

        <h3 class="f32">电子商务有限公司旗下品牌</h3>
        <p class="f16">是电子商务有限公司旗下设计与开发服务品牌。由十余位充满激情和梦想的设计师与工程师组成，致力于互联网视觉传达、交互设计和程序开发，长期关注用户体验研究、品牌形象管理、创意产业研发，是南京最靠谱的互联网产品设计和开发服务团队。</p>
        <p class="f16">我们始创于2009年，前身为南京用户体验设计工作室。2013年我们与合作伙伴共同创建了电子商务有限公司，并重新塑造了品牌，正式开始了公司化运作。一路走来，我们历经风雨，但我们始终坚持。我们一直奉行用户至上原则，无论在交互体验、视觉设计还是代码开发，用户的体验始终是我们第一追求。</p>
        <p class="f16">从产品策划、设计到开发，优易迪团队聚集了互联网各领域的专家。除了提供核心的移动APP、WEB设计和开发服务外。我们还将品牌创意、宣传推广包括产品运营服务进行融合，为广大企事业客户提供全方位一体化的解决方案。</p>
    </div>
</div>
<!--//简介-->
<!--数据--->
<div class="Ued-data">
    <div class="container">
        <ul class="data-list">
            <li><span class="f48">10<i class="f14">年</i></span>项目经验</li>
            <li><span class="f48">268<i class="f14">例</i></span>精彩案例</li>
            <li><span class="f48">126<i class="f14">位</i></span>合作客户</li>
            <li><span class="f48">12<i class="f14">项</i></span>荣誉奖项</li>
        </ul>
    </div>
</div>
<!--//数据--->
<!--空间-->
<div class="Ued-space bg-white">
    <div class="container">
        <h3 class="title-index"><span class="f32">我们的空间</span><em class="f16">Our Space</em><i></i></h3>
        <p class="f16">我们倡导自由，激发式的工作氛围，分享与汲取是其中的主题.</p>
        <div class="space-box">
            <div class="spbox">
                <div class="spbox-row">
                    <div class="spbox-row-box">
                        <a href="#"><img src="picture/spbox_bg01.jpg"/></a>
                    </div>
                    <div class="spbox-row-box">
                        <a href="#"><img src="picture/spbox_bg02.jpg"/></a>
                    </div>
                </div>
                <div class="spbox-row">
                    <a href="#"><img src="picture/spbox_bg03.jpg"/></a>
                </div>
            </div>
            <div class="spbox">
                <a href="#"><img src="picture/spbox_bg04.jpg"/></a>
            </div>
        </div>
    </div>
</div>
<!--//空间-->
<!--团队-->
<div class="Ued-team">
    <div class="container">
        <h3 class="title-index"><span class="f32">我们的团队</span><em class="f16">Our Team</em><i></i></h3>
        <p class="f16">我们是一群活泼开放的人，喜欢音乐和运动. 我们虽然很普通，但是我们努力追求不平凡的生活.</p>
        <ul class="team-list">
            <li>
                <img src="picture/member_img01.jpg" />
                <span><label>Gu Kai</label>Team Leader</span>
            </li>
            <li>
                <img src="picture/member_img02.jpg" />
                <span><label>Tang Cheng Bao</label>Team Leader</span>
            </li>
            <li>
                <img src="picture/member_img03.jpg" />
                <span><label>Zhang Bing</label>Marketing Director</span>
            </li>
            <li>
                <img src="picture/member_img04.jpg" />
                <span><label>Liu Bao Zhong</label>Technical Developer</span>
            </li>
            <li>
                <img src="picture/member_img05.jpg" />
                <span><label>Qin Chao Cheng</label>Technical Developer</span>
            </li>
            <li>
                <img src="picture/member_img06.jpg" />
                <span><label>Zhu Yu Ling</label>UI Designer</span>
            </li>
            <li>
                <img src="picture/member_img07.jpg" />
                <span><label>Pan Yuan</label>UI Designer</span>
            </li>
            <li>
                <img src="picture/member_img08.jpg" />
                <span><label>Zhang Jing</label>UE Designer</span>
            </li>
            <li>
                <img src="picture/member_img09.jpg" />
                <span><label>Huang Jian</label>Developer</span>
            </li>
            <li>
                <a href="join.html" class="join-link"></a>
                <span><label>加入我们</label>Join Us</span>
            </li>
        </ul>
    </div>
</div>
<!--//团队-->
<!--联系-->
<div class="Ued-gettouch bg-white">
    <div class="container">
        <dl>
            <dt class="f28">Contact Us</dt>
            <dd>
                <p class="f22">我们在这里为您准备了绿茶和咖啡</p>
                <h3 class="f28">南京市雨花台区宁双路18号沁恒科技园B栋406室</h3>
                <p class="f22"><span>Mobile: XXX</span> <span>Mail: XXX</span></p>
            </dd>
            <dd class="btns-box"><a target="_blank" href="javascript:;" class="f16 comm-Btn Btn-red">合作咨询</a></dd>
        </dl>
    </div>
</div>
<!--//联系-->

{% endblock %}

