
<footer class="Ued-footer">
    <div class="container clearfix">
        <div class="footer-box">
            <ul class="footer-nav f16">
                <li><a href="service.html">服务</a></li>
                <li><a href="cases.html">案例</a></li>
                <li><a href="about.html">关于</a></li>
                <li><a href="contact.html">联系</a></li>
                <li><a href="join.html">加入</a></li>
            </ul>
            <p class="footer-txt"><em>苏ICP备XXX号</em></p>
        </div>
        <div class="footer-box tright">
            <a href="index.html" class="logo-en fr" title=""></a>
            <p class="footer-txt">电子商务有限公司 版权所有</p>
            <p class="footer-txt">Copyright &copy; All Rights Reserved.</p>
        </div>
    </div>
</footer>
