<header class="Ued-header" id="Fixheader">
    <div class="container">
        <h1>
            <a href="index.html" class="logo">
                <img src="{{staticThemePath}}/images/logo.png" alt="">
            </a>
        </h1>
        <ul class="nav">
            <li><a href="index.html" class="current">首页</a></li>
            <li><a href="service.html">服务</a></li>
            <li><a href="/product___gu16MRzrk">案例</a></li>
            <li><a href="about.html">关于</a></li>
            <li><a href="contact.html">联系</a></li>
            <li><a target="_blank" href="javascript:;" class="cicon-qq">QQ</a></li>
        </ul>
    </div>
</header>
