<!DOCTYPE html>
<html>

<head>
    {% header adaptor="default" %}

    <!-- 模板静态资源 -->
    {% assets 'main.css noscript.css' %}
    {% endassets %}

    <!-- 二次开发静态资源 -->
    {% assets 'dora.front.js white.css' %}
    {% endassets %}

    {% endheader %}

    <style>
        #wrapper>.bg {
            background-image: url("{{staticThemePath}}/images/overlay.png?v=cc19d6a8e8"),
            linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
            url("{{staticThemePath}}/images/bg.jpg")
        }
    </style>

</head>


<body class="is-preload {{body_class}}">
    {% if pageType == 'index' %}
    {% set homeClass = 'fade-in'%}
    {% endif %}
    <div id="wrapper" class="{{homeClass}}">

        <!-- Intro -->
        {% if pageType == 'index' %}
        <div id="intro">
            <h1>{{site.title}}</h1>
            <p>{{site.description}}</p>
            <ul class="actions">
                <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
            </ul>
        </div>
        {% endif %}

        <!-- Header -->
        <header id="header">
            {% if site.logo %}
            <a href="/" class="logo image"><img src="{{site.logo}}" alt="{{site.title}}" /></a>
            {% else %}
            <a href="/" class="logo">{{site.config.siteName}}</a>
            {% endif %}
        </header>

        <!-- Nav -->
        {% include "./public/header.html" %}

        <!-- All the main content gets inserted here, index.hbs, post.hbs, etc -->
        {% block content %}{% endblock %}

        <!-- The footer at the very bottom of the screen -->

        {% include "./public/footer.html" %}
    </div>


    <!-- -- Theme Scripts -->
    {% assets 'jquery.scrollex.min.js jquery.scrolly.min.js browser.min.js breakpoints.min.js util.js main.js' %}{% endassets %}





</body>

</html>