{% extends "./default.html" %}
{% block content %}


<!-- Main -->
<main id="main">

  <!-- Featured Post -->
  {% if pageType == 'index' %}
  {% recommend pageSize=1 %}
  {% if recommend.length > 0 %}
  {% for item in recommend %}
  <article class="post featured">
    <header class="major">
      <span class="date">{{item.date | formatDateForMini('date')}}</span>
      <h2><a href="{{item.url}}">{{item.title}}</a></h2>
      <p>{{item.discription}}</p>
    </header>
    {% if item.sImg %}
    <a href="{{item.url}}" class="image main"><img src="{{item.sImg}}" alt="{{item.title}}" /></a>
    {% endif %}
    <ul class="actions special">
      <li><a href="{{item.url}}" class="button large">Full Story</a></li>
    </ul>
  </article>
  {% endfor %}
  {% endif %}
  {% endif %}

  <!-- Posts -->
  {% include "./public/itemListTemp.html" %}

</main>
{% endblock %}