{% extends "../default.html" %} {% block content %}

<!--大图模块-->
<div class="Ued-showimg show-about">
    <div class="container">
        <div class="show-txtstyle-center fwhite">
<!--            <h2 class="f48 f-family">江西邦尼科技医疗器械有限公司</h2>-->
<!--            <h3 class="f32">UED INTERACTION</h3>-->
        </div>
    </div>
</div>
<!--//大图模块-->
<!--简介-->
<div class="Ued-about bg-white">
    <div class="container">

        <h3 class="f32">江西邦尼科技医疗器械项目情况介绍</h3>
        <p class="f16">江西邦尼科技医疗器械有限公司是由东莞市吉祥艺术饰品有限公司、上海虞氏宝石有限公司、香港荣光产业有限公司、香港叁保力集团、香港eNano Health公司（香港依纳康科技有限公司）合资创办的企业。</p>
        <p class="f16">由香港叁保力集团与瑞昌市政府于2018年4月4日签约，在瑞昌投资建设广谱式人体智能探测仪生产项目。项目落户码头工业城，占地100亩，总投资9500美元，折合6亿元人民币。新建智能检测仪生产线、GMP研究实验室、GMP生产车间、纳米晶片感应器，主要研发、生产、销售全新理念的广谱式"智能唾液人体生物探测仪"。</p>
        <p class="f16">广谱式“智能唾液人体生物探测仪”利用纳米级传感芯片，将唾液里的分子转化成子信号，让用家快速知道结果。无创伤、零污染、安全、便捷、经济等特性让每一个人在任何地点任何时间都可以进行一天多次的多项健康指标监管。自己在家就能简简单单探查出潜伏的早期疾病，实现未病先知，促进个人的健康管理意识，自发性改善自己的生活习惯。2018年5月30日注册成立江西邦尼科技医疗器械有限公司，注册资本3000万人民币。项目全部建成达产达标后，预计年产值约10亿元，年税收约5000万元。</p>
    </div>
</div>
<!--//简介-->
<!--数据--->
<div class="Ued-data">
    <div class="container">
        <ul class="data-list">
            <li><span class="f48">10<i class="f14">年</i></span>项目经验</li>
            <li><span class="f48">268<i class="f14">例</i></span>精彩案例</li>
            <li><span class="f48">126<i class="f14">位</i></span>合作客户</li>
            <li><span class="f48">12<i class="f14">项</i></span>荣誉奖项</li>
        </ul>
    </div>
</div>
<!--//数据--->
<!--空间-->
<div class="Ued-space bg-white">
    <div class="container">
        <h3 class="title-index"><span class="f32">我们的空间</span><em class="f16">Our Space</em><i></i></h3>
        <p class="f16">我们倡导自由，激发式的工作氛围，分享与汲取是其中的主题.</p>
        <div class="space-box">
            <div class="spbox">
                <div class="spbox-row">
                    <div class="spbox-row-box">
                        <a href="#"><img src="{{staticThemePath}}/images/picture/space1.jpg"/></a>
                    </div>
                    <div class="spbox-row-box">
                        <a href="#"><img src="{{staticThemePath}}/images/picture/space7.jpg"/></a>
                    </div>
                </div>
                <div class="spbox-row">
                    <a href="#"><img src="{{staticThemePath}}/images/picture/space3.jpg"/></a>
                </div>
            </div>
            <div class="spbox">
                <a href="#"><img src="{{staticThemePath}}/images/picture/space6.jpg"/></a>
            </div>
        </div>
    </div>
</div>
<!--//空间-->
<!--数据--->
<div class="Ued-data">
    <div class="container">
        <ul class="data-list">
            <li><span class="f48">10<i class="f14">年</i></span>项目经验</li>
            <li><span class="f48">268<i class="f14">例</i></span>精彩案例</li>
            <li><span class="f48">126<i class="f14">位</i></span>合作客户</li>
            <li><span class="f48">12<i class="f14">项</i></span>荣誉奖项</li>
        </ul>
    </div>
</div>
<!--//数据--->
<!--项目进展-->
<div class="Ued-about bg-white">
    <div class="container">

        <h3 class="f32">项目进展</h3>
        <p class="f16">2018年8月30日开工建设，2020年1月完工。办公楼、职工食堂、员工宿舍已投入使用；实验室及5#、7#、8#生产车间已装修完工，已投入生产。</p>
        <p class="f16">第一代产品2020年1月已经获得九江市市监局备案许可，2020年6月20日已开始试生产，现有生产技术人员15名。</p>
        <p class="f16">实验室2020年4月已获得初步验收，7月已经进行设备调试，8月起香港专家远程视频指导，已研制自带芯片的第二代检测新产品。</p>
        <p class="f16">生产车间已自主验收，与第三方验收机构谈好验收价格（20万元）签订验收协议，正在走验收程序，需20个工作日。</p>
    </div>
</div>
<!--//项目进展-->

<!--数据--->
<div class="Ued-data">
    <div class="container">
        <ul class="data-list">
            <li><span class="f48">10<i class="f14">年</i></span>项目经验</li>
            <li><span class="f48">268<i class="f14">例</i></span>精彩案例</li>
            <li><span class="f48">126<i class="f14">位</i></span>合作客户</li>
            <li><span class="f48">12<i class="f14">项</i></span>荣誉奖项</li>
        </ul>
    </div>
</div>
<!--//数据--->
<!--项目进展-->
<div class="Ued-about bg-white">
    <div class="container">

        <h3 class="f32">项目进展</h3>
        <p class="f16">2018年8月30日开工建设，2020年1月完工。办公楼、职工食堂、员工宿舍已投入使用；实验室及5#、7#、8#生产车间已装修完工，已投入生产。</p>
        <p class="f16">第一代产品2020年1月已经获得九江市市监局备案许可，2020年6月20日已开始试生产，现有生产技术人员15名。</p>
        <p class="f16">实验室2020年4月已获得初步验收，7月已经进行设备调试，8月起香港专家远程视频指导，已研制自带芯片的第二代检测新产品。</p>
        <p class="f16">生产车间已自主验收，与第三方验收机构谈好验收价格（20万元）签订验收协议，正在走验收程序，需20个工作日。</p>
    </div>
</div>
<!--//项目进展-->
<!--联系-->
<div class="Ued-gettouch bg-white">
    <div class="container">
        <dl>
            <dt class="f28">Contact Us</dt>
            <dd>
                <p class="f22">我们在这里为您准备了绿茶和咖啡</p>
                <h3 class="f28">南京市雨花台区宁双路18号沁恒科技园B栋406室</h3>
                <p class="f22"><span>Mobile: XXX</span> <span>Mail: XXX</span></p>
            </dd>
            <dd class="btns-box"><a target="_blank" href="javascript:;" class="f16 comm-Btn Btn-red">合作咨询</a></dd>
        </dl>
    </div>
</div>
<!--//联系-->

{% endblock %}

